.App {
  text-align: center;
  
}

.main-header{
  height: 70px;
  background-color: black;
  box-shadow: 10px 10px 20px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.image-properties{
  height: 50px;
  margin-left: 40px;
}
.header-right{
  margin-right: 60px;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.links{
  text-decoration: none;
  color: white;
}
.links-div{
  display: flex;
  align-items: center;
  width: 80px;
  font-weight: 700;
}
.links-div:hover{
  display: flex;
  align-items: center;
  width: 80px;
  font-size: 1.1rem;
}
.small-header-div{
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.small-header-div:hover{
  transition: 1s ease;
  height: 60px;
  width: 100%;
  background-color: rgba(29, 14, 163, 0.583);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-header-div:hover .small-header-links{
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  font-size: 1.1rem;
}
.small-header-links{
  text-decoration: none;
  color: navy;
  font-weight: 700;
  margin-left: 30px;
}
.small-header-links:hover{
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-left: 30px;
  font-size: 1.1rem;
}
.icon-div{
  width: 50px;
  font-size: 1.8rem;
}
#icon{
  cursor: pointer;
  color: white;
}
.options-container{
  position: absolute;
  width: 100%;
  margin-top: -250px;
  height: 0;
  z-index: -1;
  transition: 2s ease all;
}
.options-container.visible{
  position: absolute;
  width: 100%;
  display: block;
  transition: 2s ease all;
  margin-top: 0;
}